@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Bhai 2', cursive;
  background-color: #223343;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 5px;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 4px;

  color: black;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484c4;
}

::-webkit-input-placeholder {
  text-align: center;
}
input:focus::-webkit-input-placeholder {
  color: black;
}

.submit {
  display: block;
  width: 100%;
  margin: 15px auto;
  border: none;
  outline: none;
  background: none;

  background-color: #1e5083;
  border-radius: 4px;

  color: #fff;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.submit:hover {
  background: #223343;
  box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: #445565;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3 {
  background: #fff;
  color: #223343;
}

.error {
  text-align: center;
  color: red;
  font-size: 2rem;
}

.movie {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #445565;

  overflow-y: scroll;
}

.movie .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color: #fff;
}

.movie .content h2 {
  font-size: 28px;
  font-weight: 600;
}
.movie .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.movie .content .rating {
  margin-bottom: 30px;
}

.movie .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.movie .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.movie .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.movie .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;

  background: #4484c4;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.movie .content .close:hover {
  background: #223343;
}

@media only screen and (max-width: 500px) {
  .results .result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    margin: auto;
  }
}
